*{
    margin: 0;
    padding: 0;
}
#head{
    width: 100%;
    height:120px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-bottom: 120px;
    box-sizing: border-box;
    padding-top: 82px;
  
   
}
.main{
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
}
#i1,#i2,#i3{
    background-color: white;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.582);
    box-sizing: border-box;
    height: 320px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    

}
.main img{
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
 
    
}
.txt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: absolute;
    bottom: 10px;
    font-size: 1.3rem;
   
}
.footer{
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
    justify-content: center;
    align-items: center;
    padding: 40px;
    display: flex;
}

/*media queries*/

@media (max-width:500px) {
    
    .main{
        display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #i1,#i2,#i3{
      
       
        width: 80%;
        display: flex;
      margin-bottom: 30px;
      
        
    
    }

}